.catalog {
    font-family: arial, helv;
}

.bookContainer {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.catalog.bookContainer>*{
    flex:0;
}

.catalog .bookentry {
    flex: 1;
}
