.order {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 70%;
    margin: auto;
}

.order button {
    margin: 5px;
}

.confirm {
    width: 30%;
}

.cart {
    width: 100%;
}

.cart, .confirm {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.cart>div, .confirm>div {
    display: flex;
    justify-content: space-between;
}

.address {
    display: flex;    
    width: 50%;
    max-width: 600px;
    flex-wrap: wrap;
}

.address>input {
    float: left;
}

.address>input, .address>label {
    margin: 5px 5px;
}

.address>.full {
    flex-grow: 4;
}

.address>.half {
    flex-grow: 2;
}
