.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.categories>button {
    flex-grow: 1;
    text-size-adjust: 3px;
    font-size: inherit;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.categories>button:hover {
    transform: scale(1.1);
}