/**
 * ==============================================
 * Color Palett
 * ==============================================
 */
:root {
  --base-color: #FBE8A6;
  --secondary-color: #F4976C;
  --low-color: #303C6C;
  --high-color: #B4DFE5;
  --high-color-disabled: hsl(186, 11%, 36%);
  --accent-color: #D2FDFF;
}

body {
  margin: 0;
}

.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--accent-color);
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 0;
  margin: 0 -5%;
  overflow: hidden;
}

button.linklike {
  background: none!important;
  border: none;
  padding: 0!important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  text-transform: none;
}

.even {
  background-color: var(--secondary-color);
}

.odd {
  background-color: var(--accent-color);
}

.sticky {
  position: sticky;
}

.sticky.top {
  top: 0;
}

.sticky.bottom {
  bottom: 0;
}

.header {
  z-index: 100;
}

.footer {
  width: 100%;
  padding-bottom: 30px;
  background-color: var(--base-color);
  z-index: 100;
}

/**
 * ==============================================
 * cool buttons
 * ==============================================
 */

button {
  background: var(--high-color);
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 13px -2px rgba(0, 0, 0, .15);
  box-shadow: 0 3px 13px -2px rgba(0, 0, 0, .15);
  color: #000;
  font-family: 'Ubuntu', sans-serif;
  outline: none;
  padding: 0.7rem;
  text-transform: uppercase;
  transition: 0.4s ease;
}

button:hover:not(:disabled) {
  cursor: pointer;
  -webkit-box-shadow: 0 0 0 0.2rem var(--low-color);
  box-shadow: 0 0 0 0.2rem var(--low-color);
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);  
}

button:active:not(:disabled) {
  -webkit-box-shadow: 0 0 0 0.2rem var(--low-color);
  box-shadow: 0 0 0 0.2rem var(--low-color);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  transition: 0.1s ease;
  transform: translatey(0.25em) scale(0.98);
}

button:disabled {
  background: var(--high-color-disabled);
}

/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */
 .dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  box-shadow: 9999px 0 0 -5px #9880ff;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: .25s;
}

.dot-pulse::before, .dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px #9880ff;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px #9880ff;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: .5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px #9880ff;
  }
  30% {
    box-shadow: 9984px 0 0 2px #9880ff;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px #9880ff;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px #9880ff;
  }
  30% {
    box-shadow: 9999px 0 0 2px #9880ff;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px #9880ff;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px #9880ff;
  }
  30% {
    box-shadow: 10014px 0 0 2px #9880ff;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px #9880ff;
  }
}